.result-card {
    height:100px;display:flex;justify-content:center;align-items:center;    width: 100%;
    }
    div{
    width: 100%;
    padding:20px;
    }
    .flex-container
    {
    display: flex;
    flex-direction: row;
    }
    .main-container
    {
        padding:20px;

    }